.DS_Store
.ipynb_checkpoints/
biathlon_checkpoint(pre_merge).ipynb
race_data/
similar_excel_done.numbers
update_df_test.ipynb
.idea/
biathlon.ipynb
pursuit_data.csv
similar_csv.csv
similar_excel_done.csv
unique_names.ipynb
images/